/* Toast notification */
#toast-container{
  top: 55px !important;
  font-size: 17px;
}

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(30deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(40deg); }
    60%     { transform: rotateZ(-30deg); }
    100%     { transform: rotateZ(0deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0;}
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.4); transform: rotateZ(3060deg);}
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@keyframes slideOut {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@keyframes showMenu {
    from    { opacity: 0; min-height: 0;}
    to      { opacity: 1; min-height: 40px; }
}
@keyframes hideLogo {
    from  { opacity: 1; min-height: 180px; }
    to    { opacity: 0; min-height: 0;}
}
@keyframes showLogo {
    from  { opacity: 0;  }
    to    { opacity: 1; }
}
@keyframes rotate {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}
.showMenu{
   animation: showMenu 1s both ease-in;
}

.hideLogo{
   animation: hideLogo 0.5s both ease-in;
}
.showLogo{
   animation: showLogo 2s both ease-in
}
#navbar, #navbar ul, #navbar li, .imgLogo, .miniLogo, .adminListItem{
    transition:0.4s linear all;
}
.imgLogo{
  transition-property: transform;
  transition-duration: 0.5s;
  width:180px;
  height: 180px;
}
.imgLogo:hover{
  cursor: pointer;
}
#navbar li:hover {
	background-color: rgba(0,0,0,0.5);
	letter-spacing: 1px;
}
.adminListItem:hover {
	background-color: rgba(0,0,0,0.3);
  	cursor: pointer;
}
#navbar li:hover a{
	color: white;
}

.rotateLogo {
  transform: rotateY(360deg);
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
 transition:0.6s linear all;
    animation: slideInUp 2s both ease-in;
}
.ng-enter           { animation: slideInUp 0.2s both ease-in; z-index: 8888; }
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
