<div class="container" ng-controller="adminCtrl" class="fade">
    <div id="main-content" class="mc-content">
        <h1 >Dashboard : administration</h1>
        <div class="size1of1 lastUnit">
            <ul class="media-list rows sub-section">

              <li class="adminListItem" ng-click="showListNews()">
                  <div class="media">
                      <div class="media-image">
                          <div class="onboarding menu1"> </div>
                      </div>
                      <div class="media-body">
                          <div class="line">
                              <div class="unit size3of4 below12">
                                  <h4>Display and manage your existing Newsletters </h4>
                                  <p>Edit and update your previously created newsletters</p>
                              </div>
                              <div class="size1of4 lastUnit nopadding alignr"> <a class="button nomargin full-width-mobile ttn" href="/campaigns/create?type=regular" role="button">Create a Campaign</a> </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li class="adminListItem" ng-click="goToStat()">
                  <div class="media">
                      <div class="media-image">
                          <div class="onboarding menu2"> </div>
                      </div>
                      <div class="media-body">
                          <div class="line">
                              <div class="unit size3of4 below12">
                                  <h4>Statistiques about your newsletters's campaign</h4>
                                  <p>Mail send, mail opened, number of times your links have been clicked, .... </p>
                              </div>
                              <div class="size1of4 lastUnit nopadding alignr"> <a class="button nomargin full-width-mobile ttn" href="/campaigns/create?type=regular" role="button">Create a Campaign</a> </div>
                          </div>
                      </div>
                  </div>
              </li>


                <li class="adminListItem" ng-click="createNews()">
                    <div class="media">
                        <div class="media-image">
                            <div class="onboarding menu3"> </div>
                        </div>
                        <div class="media-body">
                            <div class="line">
                                <div class="unit size3of4 below12">
                                    <h4>Write a Newsletters </h4>
                                    <p>Start to write a brand new newsletter with image, html content, ... </p>
                                </div>
                                <div class="size1of4 lastUnit nopadding alignr"> <a class="button nomargin full-width-mobile ttn" href="/campaigns/create?type=regular" role="button">Create a Campaign</a> </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="adminListItem" ng-click="createList()">
                    <div class="media">
                        <div class="media-image">
                            <div class="onboarding menu4"> </div>
                        </div>
                        <div class="media-body">
                            <div class="line">
                                <div class="unit size3of4 below12">
                                  <h4>Create a diffusion list <span class="freddicon tick-circle-color mar-lv1 mar-tb0"></span></h4>
                                    <p>From this section you can associate your groups of contact with your existing newsletter </p>
                                </div>
                                <div class="size1of4 lastUnit nopadding alignr link-underline"> <a href="/lists" onclick="ga('send', 'event', 'dashboard', 'onboarding study', '/lists');">View lists</a> </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="adminListItem" ng-click="openGroupsView()">
                    <div class="media">
                        <div class="media-image">
                            <div class="onboarding menu5"> </div>
                        </div>
                        <div class="media-body">
                            <div class="line">
                                <div class="unit size3of4 below12">
                                    <h4>Create a new group of contact<span class="freddicon tick-circle-color mar-lv1 mar-tb0"></span></h4>
                                    <p>Create your groups of contacts easily. </p>
                                </div>
                                <div class="size1of4 lastUnit nopadding alignr link-underline"> <a href="/lists" onclick="ga('send', 'event', 'dashboard', 'onboarding study', '/lists');">Create a new group</a> </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="adminListItem" ng-click="openModifyGroupsView()">
                    <div class="media">
                        <div class="media-image">
                            <div class="onboarding menu6"> </div>
                        </div>
                        <div class="media-body">
                            <div class="line">
                                <div class="unit size3of4 below12">
                                    <h4>Modify your groups of contact<span class="freddicon tick-circle-color mar-lv1 mar-tb0"></span></h4>
                                    <p>Modif a group of contact easily.</p>
                                </div>
                                <div class="size1of4 lastUnit nopadding alignr link-underline"> <a href="/lists" onclick="ga('send', 'event', 'dashboard', 'onboarding study', '/lists');">Modify a group of contact</a> </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="adminListItem" ng-click="openImportView()">
                    <div class="media">
                        <div class="media-image">
                            <div class="onboarding menu1"> </div>
                        </div>
                        <div class="media-body">
                            <div class="line">
                                <div class="unit size3of4 below12">
                                    <h4>Import contacts directly with a CSV file<span class="freddicon tick-circle-color mar-lv1 mar-tb0"></span></h4>
                                    <p>Lists are where you store your contacts (we call them subscribers). Create one master list, then use segments and groups to email select people. </p>
                                </div>
                                <div class="size1of4 lastUnit nopadding alignr link-underline"> <a href="/lists" onclick="ga('send', 'event', 'dashboard', 'onboarding study', '/lists');">View lists</a> </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
