<div class="container" ng-controller="listCtrl" class="fade">
    <h1 style="color:#fff">ADMIN</h1>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand miniLogo" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Campagne</a></li>
                    <li><a href="#about">Templates</a></li>
                    <li><a href="#contact">List</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main-content" class="main-content mc-content selfclear">

        <h1>Création Liste de Diffusion</h1>
        <div class="line main-section">

            <form id="new-list" action="/lists/create" method="POST" novalidate="novalidate">
                <div class="lastUnit size1of2">
                    <div class="sub-section">
                        <h3>Détails</h3>
                        <div class="field-wrapper">
                            <label for="name" class="">Nom de la Liste</label>
                            <input type="text" name="name" class=" av-text" value="" id="name">
                        </div>
                        <div class="field-wrapper" ng-if="listContact.length > 0">
                            <label for="name" class="">Choix du groupe</label>
                            <select>
                            <option ng-repeat="contact in listContact" class=form-control>{{contact.nom}}</option>
                            </select>
                        </div>
                        <div class="field-wrapper">
                            <label for="name" class="">Choix de la Newsletter</label>
                            <select class=form-control>
                            <option value=un>GROUPE 1</option>
                            </select>
                        </div>
                    </div>
                    <div class="sub-section">
                        <button class="button p0" type="submit" id="new-list-save">Save</button> <a href="javascript:;" id="new-list-cancel" class="small-meta fwb">Cancel</a> </div>
                </div>
                <input type="hidden" name="__csrf_token" id="" value="d8acbd26c3fea8c63ea8e394500782a0153cac54" class="av-hidden">
            </form>
        </div>
        <div class="line alignc section hide-print">
            <p class="small-meta dim-el full-width"> ©2001–2016 <span>JCMA Mail<sup>®</sup> All rights reserved.</span> <span class="nowrap link-underline"> <a class="textcolor" href="#" target="_blank" tabindex="-1" >Privacy</a> and <a class="textcolor" href="#" target="_blank" tabindex="-1">Terms</a> </span>                </p>
        </div>
    </div>
</div>
