<div class="container createNews" ng-controller="createNewsCtrl" class="fade">
  <center>
    <h1>Creation of a new Newsletter</h1>
    <div class="row">

      <label><h3>Title</h3></label>
      <div class="field-group">
        <input type="text" size="25" id="newsTitle" value="">
      <label><h3>Url to diffuse in the mailing</h3></label>
        <input type="text" size="25" id="newsUrl" value="">
      </div>

    </div>
    <textarea name="editor" class"ckEditor" ng-model="textNews"></textarea>

    <div class="control-group">
        <label class="control-label" for="singlebutton"></label>
        <div class="controls">
        <button ng-click="btnSaveNews()" class="btn btn-primary btn-lg">Save</button>
      </div>
    </div>
  </div>
</center>
</div>
