   <div class="container" ng-controller="listCtrl" class="fade">
    <div id="main-content" class="main-content mc-content selfclear">
        <h1>Création Liste de Diffusion</h1>
        <div class="line main-section">

                <div class="lastUnit size1of2">
                    <div class="sub-section">
                        <h3>Détails</h3>
                        <div class="field-wrapper">
                            <label for="name" class="">Nom de la Liste</label>
                            <input type="text" name="name" class=" av-text" value="" id="name">
                        </div>
                        <div class="field-wrapper">
                            <label for="name" class="">Choix du groupe</label>
                            <select ng-options="groupe.grNom for groupe in listGroupe" ng-model="groupeSelected" class="selectpicker" multiple="true">
                            </select>
                        </div>

                        <div class="field-wrapper">
                            <label for="name" class="">Choix de la Newsletter</label>
                            <select ng-options="news.neTitre for news in listNews" ng-model="newsSelected" class="selectpicker" multiple="true">
                            </select>
                        </div>
                    </div>

                    <md-button class="md-primary md-raised" ng-click="manageGroups($event)" flex="100" flex-gt-md="auto">
                          Gérer vos groupes
                    </md-button>

                    <div class="sub-section">
                        <button class="button p0" ng-click="saveListDiffusion()">Save</button>
                    </div>
        </div>
        <div class="line alignc section hide-print">
            <p class="small-meta dim-el full-width"> ©2001–2016 <span>JCMA Mail<sup>®</sup> All rights reserved.</span> <span class="nowrap link-underline"> <a class="textcolor" href="#" target="_blank" tabindex="-1" >Privacy</a> and <a class="textcolor" href="#" target="_blank" tabindex="-1">Terms</a> </span>                </p>
        </div>
    </div>
</div>
