<div class="container listNews" ng-controller="listNewsCtrl" class="fade">
  <div class="row">
  			<div class="ulListNews">
  				<ul class="event-list">
  					<li ng-repeat="news in listNews track by $index" class="listNewsItem">
  						<time datetime="2014-07-31 1600">
  							<span class="day">31</span>
  							<span class="month">Jan</span>
  							<span class="year">2014</span>
  							<span class="time">4:00 PM</span>
  						</time>
  						<div class="info">
  							<h2 class="title">{{news.neTitre}}</h2>
                <textarea class"ckEditor textNews"  name="{{'txtEditor' + $index}}" id="{{'txtEditor' + $index}}" ng-bind-html="sanitizeHtml(news.neTextContent)"></textarea>
  						</div>
              <div class="btn-group groupBtnListNews">
                   <button ng-if="!inEdition" ng-click="editNews($index)" type="button" class="btn btn-default btnEdit"><img src="img/edit.png" alt="" />Edit</button>
                   <button ng-if="!inEdition" ng-click="editNews($index)" type="button" class="btn btn-default btnDelete"><img src="img/trash.png" alt="" />Delete</button>
                   <button ng-if="inEdition" ng-click="editNews($index)" type="button" class="btn btn-default btnSave"><img src="img/save.png" alt="" />Save</button>
                </div>

  					</li>
  				</ul>
          max-width: 635px;
  			</div>
  		</div>
</div>
