<!-- INFOS USER -->
<div class="container" ng-controller="registerCtrl" class="fade">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">About you</h3>
            </div>
            <div class="panel-body">
                <div class="panel-heading">
                </div>
                <form accept-charset="UTF-8" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label for="firstname">First name</label>
                            <input type="text" name="fname" tabindex="1" autofocus="autofocus" class="av-text" value="" ng-model="nom">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last name</label>
                            <input type="text" name="lname" tabindex="2" class="av-text" value="" id="lname" ng-model="prenom">
                        </div>
                        <div class="form-group">
                            <label for="email" class="">Email address</label>
                            <input type="email" name="email" tabindex="3" class="av-email" value="" id="email" ng-model="email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="">Password</label>
                            <input name="password" type="password" id="password" value="" ng-model="password">
                        </div>


                        <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-lg">
                                <input class="btn col-md-2  btn-primary" type="submit" value="Register" ng-click="register()">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>
