<div class="container statView" ng-controller="StatCtrl"  class="fade">
        <div class="centerDiv" style="visibility: visible; text-align:center;">
           <h2 class="centerText menuSubText">L'analyse de vos mailings refletent la pertinence de vos campagnes</h2>
        </div>


        <div class="col-md-8 col-md-offset-2">
      				<div class="panel panel-default">
      					<div class="panel-body">
                  <div class="statGlobal">
                    <h2>Global statistics about your mailing campains</h2>
                    <canvas class="chart chart-bar"
                      chart-data="graph.globalData" chart-labels="graph.labels" chart-series="series" chart-legend="true" style="position:relative;">
                    </canvas>
                    <h2>Amount of newsletters wrote by month</h2>
                    <canvas class="chart chart-line"
                      chart-data="newsByDate" chart-labels="monthLabel" chart-series="series" chart-legend="true" style="position:relative;">
                    </canvas>
                  </div>
      						<div class="table-container statTable" ng-repeat="stat in stats track by $index">
!      							<table class="table table-filter">
      								<tbody>
      									<tr data-status="pagado" >
      										<td>
      											<div class="media">
      												<span class="pull-left">
                                  <h2 class="title newsTitle">
                                    <span class="idNews">Newsletter {{$index + 1}} :</span> {{stat.title}}
                                  </h2>
                                  <h5 class="title">
                                    Nombre de mail envoye : {{stat.nbEnvoye != "Nan" ? stat.nbEnvoye : 0}}
                                  </h5>
                                  <h5 class="title">
                                  Nombre de lien cliqué : {{stat.nbLien}}
                                </h5>
                                  <h5 class="title">
                                  Nombre de mail ouvert : {{stat.nbOuvert}}
                                </h5>
      												</span>
      												<div class="media-body">
      													<span class="media-meta pull-right"></span>
      													<p class="summary">{{graphNews[0].graph}}</p>
                                <canvas id="{{'bar' + $index}}" class="chart chart-doughnut" chart-legend="true" data="stat.graph" labels="graph.labels" series='graph.series' height="180%" style="position:absolute;"></canvas>

      												</div>
      											</div>
      										</td>
                          </tr>
      								</tbody>
      							</table>
      						</div>
      					</div>
                <h3 class="centerText menuSubText">Graph 1 </h3>
      				</div>
      			</div>
</div>
